<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nimo presentation</title>

    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <span id="page-title">nimo presentation</span>
        <span id="page-generated">{{ generated | date(format="%d.%m.%Y %H:%M:%S") }}</span>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li>
                Current
                <ul>
                    <li><a href="/all-time.html">All Time</a></li>
                    <li><a href="/today.html">Today</a></li>
                    <li><a href="/yesterday.html">Yesterday</a></li>
                    <li><a href="/week.html">This week</a></li>
                    <li><a href="/month.html">This month</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
